html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

.container {
  width: 902px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */

.page-header {
  margin-bottom: 26px;
}

.nav-header {
  padding: 58px 0;
}

.nav-menu {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

.nav-menu li {
  display: inline-block;
  text-align: center;
}

.nav-menu li:first-child {
  margin-right: 22px;
}

.menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
  font-size: 14px;
  display: block;
  padding: 12px 50px;
}

.menu-link:hover,
.menu-link:focus {
  color: #03a9f4;
}

/* MAIN */

.articles-list {
  margin: 0 0 46px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.article {
  display: inline-block;
  width: 420px;
  margin: 0 0 126px;
}

.article:nth-child(3) {
  margin-bottom: 130px;
}

.article:nth-child(4) {
  margin-bottom: 130px;
}

.article:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.article:nth-child(odd) {
  margin-right: 62px;
}

.article-img {
  margin: 0 0 28px;
}

.article-theme {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #b4ad9e;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 0 22px;
}

.article-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 28px;
}

.article-text {
  font-size: 14px;
  margin: 0;
}

.article:hover,
.articleon:focus {
  cursor: pointer;
}

.load-more-button {
  color: #626262;
  background: #fff;
  font-size: 20px;
  width: 164px;
  height: 60px;
  border: 1px solid rgb(98, 98, 98);
  padding: 0;
  margin: 0 369px 70px;
  cursor: pointer;
  display: inline-block;
}

.load-more-button:hover,
.load-more-button:focus {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.42);
}
