/* ******* MOBILE ONLY < 768px ******* */

@media screen and (max-width: 767px) {
  /* ***** HEADER ***** */
  /* *** Navigation *** */

  .page-nav {
    flex-direction: column;
  }

  /* * log buttons * */

  .site-log-list {
    margin-bottom: 8.14rem;
    margin-right: 1.3rem;
  }

  /* *** Header Info *** */
  /* * header text * */

  .page-header__text {
    padding-left: 2.22em;
    padding-right: 2.22em;
  }

  /* ***** MEMBERS SECTION ***** */
  /* *** Members List *** */

  .members-list {
    flex-direction: column;
  }

  /* * member card * */

  .member-card:nth-child(2) {
    order: 1;
  }

  .member-card:nth-child(4) {
    order: 2;
  }

  .member-card:not(:last-child) {
    margin-bottom: 1.88rem;
  }
}

/* ******* TABLET ONLY 768px-939px ******* */

@media screen and (min-width: 768px) and (max-width: 939px) {

  .page-nav {
    padding: 0 2.86rem;
  }

  .member-card:nth-last-child(n + 3) {
    margin-bottom: 4rem;
  }
}

/* ******* TABLET > 768px ******* */

@media screen and (min-width: 768px) {
  /* ***** GLOBAL STYLES ***** */

  .container {
    width: 768px;
  }

  /* ***** HEADER ***** */

  .page-header {
    min-height: 700px;
    padding-top: 38px;
    padding-bottom: 38px;
    background-image: url(../img/website/background/background-1440.jpg);
  }

  /* *** Navigation *** */

  .page-nav {
    justify-content: space-between;
    margin-bottom: 140px;
  }

  /* * log buttons * */

  .site-log-list {
    order: 1;
  }

  /* *** Header Info *** */
  /* * header text * */

  .page-header__title {
    margin-bottom: 0.46em;
    padding-right: 6rem;
    padding-left: 6rem;
    font-size: 3.71rem;
  }

  .page-header__text {
    margin-bottom: 1.35em;
    font-size: 1.71rem;
  }

  /* * header find button * */

  .page-header__find-button-link {
    padding-left: 1.64rem;
    padding-right: 1.64rem;
  }

  /* ***** MEMBERS SECTION ***** */

  .members-section {
    padding-bottom: 40px;
  }

  .section-title {
    margin-bottom: 2.44rem;
  }

  /* *** Members List *** */

  .members-list {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 36px;
    padding-right: 136px;
    padding-left: 136px;
  }

  /* * other partners button * */

  .other-partners-link {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

/* ******* DESCTOP ONLY > 940px ******* */

@media screen and (min-width: 940px) {
  /* ***** GLOBAL STYLES ***** */

  .container {
    width: 940px;
    padding-left: 0;
    padding-right: 0;
  }

  /* ***** HEADER ***** */
  /* *** Header Info *** */
  /* * header text * */

  .page-header__title {
    padding-right: 12rem;
    padding-left: 12rem;
  }

  /* ***** MEMBERS SECTION ***** */
  /* *** Members List *** */

  .members-list {
    padding-right: 0;
    padding-left: 0;
  }
}
