/* ******* MOBILE ONLY < 768px ******* */

@media screen and (max-width: 767px) {
  /* ***** HEADER ***** */
  /* *** Navigation *** */
  /* * log buttons * */

  .site-log-list {
    margin-bottom: 8.14rem;
  }

  /* ***** MEMBERS SECTION ***** */
  /* *** Members List *** */
  /* * member card * */

  .members-list li:not(:last-child) {
    margin-bottom: 1.96rem;
  }
}

/* ******* TABLET ONLY 768px-939px ******* */

@media screen and (min-width: 768px) and (max-width: 939px) {
  /* ***** MEMBERS SECTION ***** */
  /* *** Members List *** */
  /* * member card * */

  .members-list li:nth-child(odd) {
    margin-bottom: 4.1rem;
  }
}

/* ******* TABLET > 768px ******* */

@media screen and (min-width: 768px) {
  /* ***** HEADER ***** */

  .page-header {
    min-height: 700px;
    padding-top: 38px;
    padding-bottom: 38px;
    background-image: url(../img/website/background/background-1440.jpg);
  }

  /* *** Navigation *** */

  .page-nav {
    margin-bottom: 140px;
  }

  /* *** Header Info *** */
  /* * header text * */

  .page-header__title {
    margin-bottom: 0.46em;
    font-size: 3.71rem;
  }

  .page-header__text {
    margin-bottom: 1.35em;
    font-size: 1.71rem;
  }

  /* * header find button * */

  .page-header__find-button-link {
    width: 226px;
  }

  /* ***** MEMBERS SECTION ***** */

  .members-section {
    padding-bottom: 40px;
  }

  .section-header {
    margin-bottom: 2.44rem;
  }

  /* *** Members List *** */

  .members-list-wrapper {
    margin-bottom: 38px;
  }

  /* * other partners button * */

  .other-partners-btn {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

/* ******* DESCTOP ONLY > 940px ******* */

@media screen and (min-width: 940px) {
  /* ***** HEADER ***** */
  /* *** Navigation *** */
  /* * log buttons * */

  .site-log-list {
    justify-content: flex-end;
    margin-right: -10px;
  }

  /* * logo * */

  .site-logo-link {
    margin-left: -10px;
    text-align: left;
  }

  .members-list {
    margin-right: -20px;
    margin-left: -20px;
  }
}
